<h1>New Entry</h1>

<%= form_with :model => @entry do |form| %>
  <p>
    <%= form.label "title", "Entry Title" %>
    <%= form.text_field "title" %>
  </p>
  
  <p>
    <%= form.label "description", "Description" %>
    <%= form.text_field "description" %>
  </p>

  <p>
    <%= form.label "posted_on", "Posted On" %>
    <%= form.date_field "posted_on" %>
  </p>
  
  <p>
    <%= form.hidden_field "place_id" %>
  </p>
  <%= form.submit %>
<% end %>